# Health Stats Part 2: Waist 2 Hip Ratios

<!--- Write an explanation of the Waist To Hips Ratio statistic used by health professionals. Please include an explanation of what it is used for, exactly how it is calculated, and how to interpret the results. Note: Formmatting matters. Make this as professional as you can using Markdown.  --->
EDIT THIS MARKDOWN CELL

## Source Data

<!--- Replace the text below with a Markdown bullet list that defines the columns of the CSV file. Be sure to indicate the data type for each column. --->
EDIT THIS MARKDOWN CELL

## Data Import

In [261]:
import numpy as np #import numpy

w2h_data= np.genfromtxt('w2h_data.csv',dtype=(int,float,float,"U5"), names=True ,delimiter="," , autostrip= True) #convert lis-t to numpy arrays with names




#print(np_w2h_data)

#print(np_w2h_data.shape)
#w2h_data_split =np.hsplit(w2h_data,1) #spliting the data into 20 rows and 5 columns 


#print(w2h_data_split)

#print(w2h_data)

#import pandas as pd #import panda

#w2h_data= pd.read_csv('w2h_data.csv').as_matrix() #convert w2h raw data to matrix 
print(w2h_data)
print(w2h_data.shape)

[( 1,  30.,  32., 'M') ( 2,  32.,  37., 'M') ( 3,  30.,  36., 'M')
 ( 4,  33.,  39., 'M') ( 5,  29.,  33., 'M') ( 6,  32.,  38., 'M')
 ( 7,  33.,  42., 'M') ( 8,  30.,  40., 'M') ( 9,  30.,  37., 'M')
 (10,  32.,  39., 'M') (11,  24.,  35., 'F') (12,  25.,  37., 'F')
 (13,  24.,  37., 'F') (14,  22.,  34., 'F') (15,  26.,  38., 'F')
 (16,  26.,  37., 'F') (17,  25.,  38., 'F') (18,  26.,  37., 'F')
 (19,  28.,  40., 'F') (20,  23.,  35., 'F')]
(20,)

## Calculations

In [262]:
# calculate the waist to hip ratio
w2h_ratio=(w2h_data["Waist"]/w2h_data["Hip"])

#Determine who is Male (T) or Female(F)
males=(w2h_data["Gender"]=="M")
print(males)

#Identify males with w2h ratio>0.9 = apple
male_apple = np.logical_and((w2h_ratio>.09),males)
print(male_apple)

#identifu females with w2h_ratio>0.8 and not males
female_apple = np.logical_and((w2h_ratio>0.8),np.logical_not(males))
print(female_apple)

#combine male and female apples
apple=np.logical_or(male_apple,female_apple)
print(apple)

#Work like a if then else statement
shapes=np.where(apple,"Apple","Pear")
print(shapes)

#Code below creates a new results array

#add the two new columns to the dtype descriptor
#name = assigning dtype to the new array dt. "w2h.descr= just the description for "w2h_data" Data type + the new two data arrays
dt = np.dtype(w2h_data.dtype.descr + [("W2H Ratio",float),("Shape","U5")])

#create a new array name results with zeros and the same number of rows and the new data type
results=np.zeros(w2h_data.shape,dtype=dt)

#copy over the w2h_data's data
# for each c (column) in w2h_data.dtype.names = in the filename.datatype. just the names

for c in w2h_data.dtype.names:
    results[c]=w2h_data[c]

#add the two new columns
results["W2H Ratio"]=w2h_ratio
results["Shape"]=shapes

[ True  True  True  True  True  True  True  True  True  True False False
 False False False False False False False False]
[ True  True  True  True  True  True  True  True  True  True False False
 False False False False False False False False]
[False False False False False False False False False False False False
 False False False False False False False False]
[ True  True  True  True  True  True  True  True  True  True False False
 False False False False False False False False]
['Apple' 'Apple' 'Apple' 'Apple' 'Apple' 'Apple' 'Apple' 'Apple' 'Apple'
 'Apple' 'Pear' 'Pear' 'Pear' 'Pear' 'Pear' 'Pear' 'Pear' 'Pear' 'Pear'
 'Pear']

## Output

In [263]:
# Goal: pretty print the rows as an HTML table


# Note: this works, but we can do this much better with pandas
html_table = '<table><tr><th>'
html_table += "</th><th>".join(results.dtype.names)
html_table += '</th></tr>'
for row in results:
    html_table += "<tr><td>"
    html_table += "</td><td>".join(str(v) for v in row)
    html_table += "</td></tr>"
html_table += "</table>"

from IPython.display import HTML, display
display(HTML(html_table))


np.savetxt("StatsResults.csv",results,fmt='%s',delimiter=',',header=','.join(results.dtype.names),comments="")